@page
@model CobraStudio.Pages.EmpleadoHabilidades.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>Create</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="EmpleadoHabilidad.IdEmpleado" />
            <div class="form-group">
                <label asp-for="EmpleadoHabilidad.IdEmpleado" class="control-label"></label>
                <input asp-for="EmpleadoHabilidad.IdEmpleado" class="form-control" />
                <span asp-validation-for="EmpleadoHabilidad.IdEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpleadoHabilidad.NombreHabilidad" class="control-label"></label>
                <input asp-for="EmpleadoHabilidad.NombreHabilidad" class="form-control" />
                <span asp-validation-for="EmpleadoHabilidad.NombreHabilidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
